@keyframes glow {
    0% { text-shadow: 0 0 5px #00f, 0 0 10px #00f; }
    50% { text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f; }
    100% { text-shadow: 0 0 5px #00f, 0 0 10px #00f; }
  }
  


.banner {
    background: url("../img/banner.png");   
    background-size: cover;  
    background-repeat: no-repeat;
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    animation: glow 1.5s infinite alternate;
}

.banner__texto{
    font-size: 14px;
    font-weight: 500;
    font-style: bold;
    margin: 0.5em 0;
    font-weight: 700;
    color: #fff;
    animation: glow 1.5s infinite alternate;
}

.banner__pesquisa {
    background-color: transparent;
    border: 2px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.2s, background-color 0.3s;
}
.banner__pesquisa:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light background on hover */
    box-shadow: 0 0 10px var(--branco), 0 0 20px var(--branco), 0 0 30px var(--branco); /* Glow effect */
    transform: scale(1.05);
}

.banner__pesquisa:active {
    transform: scale(0.95);
}
.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    color: var(--branco);
    background: url("../img/locationPin.svg") no-repeat;
    background-position: 2em;
    font-weight: 700;
    color: #fff;
    animation: glow 1.5s infinite alternate;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }
    .banner__pesquisa {
        width: 50%;
    }
    .banner__pesquisa::placeholder {
        background-position: 7em;
    }
}